html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #2e2e2e;
    border: 1px solid #404040;
    padding: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    float: none;
}

.navbar a {
    color: #1e1e1e;
    float: none;
}

.navbar a:hover {
    color: #000;
}

.navbar a.right {
    margin-left: auto;
}

.search {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-btn {
    padding: 8px 15px;
    background-color: #525252;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #404040;
}

.create-btn {
    background-color: rgb(209, 164, 252);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-btn:hover {
    background-color: rgb(190, 140, 240);
}

footer {
    background-color: #2e2e2e6e;
    border-top: 1px solid #404040;
    padding: 20px;
    text-align: center;
    color: #999;
    margin-top: auto;
}